{% load static %}

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "/css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "/css/app.css" %}">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Suggester</li>
          <!-- <li>
            <a href="#">One</a>
            <ul class="menu vertical">
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li> -->
          <li><a href="/">Home</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if user.is_authenticated %}
          <!-- <li><a href="/accounts/">{{ user.username }}</a></li> -->
          <li><a href="/suggestion/">Add Suggestion</a></li>
          <li><a href="/logout/">Logout</a></li>
          {% else %}
          <li><a href="/register/">Register</a></li>
          <li><a href="/login/">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% block body %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
