{% extends "base.html" %}
{% load static %}

{% block title %}
Hello World
{% endblock %}

{% block body %}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12">
      <h2>Suggestions</h2>
    </div>
    <div class="large-12 medium-12 small-12" id=app-suggestion>
      <ul>
            <li v-for="item in suggestions">
              {% verbatim %}
              {{ item.id }}:{{ item.suggestion }} - Created on {{ item.created_on }} - {{ item.author }}
                <ul>
                  <li v-for="comm in item.comments">
                    {{ comm.comment }} - {{ comm.created_on }} - {{ comm.author }}
                  </li>
                </ul>
                {% endverbatim %}
                {% if user.is_authenticated %}
                <a class="button expanded" v-bind:href="'/comment/'+ item.id+'/'">Comment</a>
                {% endif %}
            </li>
      </ul>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
