{% extends "base.html" %}

{% block title %}
Page {{ page_template }}
{% endblock %}

{% block body %}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12">
      <h2>Page {{ page_template }}</h2>
    </div>
    <div class="large-12 medium-8 small-12">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
      {% for item in example_list %}

        <div class="large-offset-1 medium-offset-2 large-3 medium-3 small-6">
          <h3>{{ item }}</h3>
        </div></li>
      {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
