{% extends "base.html" %}

{% load static %}

{% block title %}
Suggestions
{% endblock %}

{% block body %}

</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12">
      <form action="/suggestion/" method="post">
          {% csrf_token %}
          {{ form.suggestion.errors }}
          {{ form.suggestion.label_tag }}
          {{ form.suggestion }}
          <input type="submit" class="button expanded" value="Submit" />
      </form>
    </div>
    <div class="large-12 medium-12 small-12">
      <h2>Suggestions</h2>
    </div>
    <div class="large-12 medium-8 small-12" id=app-suggestion>
      <ul>
            <li v-for="item in suggestions">
              {% verbatim %}
              {{ item.id }}:{{ item.suggestion }} - Created on {{ item.created_on }}
                <ul>
                  <li v-for="comm in item.comments">
                    {{ comm.comment }} - {{ comm.created_on }}
                  </li>
                </ul>
              {% endverbatim %}
            </li>
      </ul>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
