{% extends "base.html" %}

{% load static %}

{% block title %}
Add Suggestion
{% endblock %}

{% block body %}

</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
      <form action="/suggestion/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <input type="submit" class="button expanded" value="Submit" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
